<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Footer</title>
    <link href="bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mb-3">
        <div class="row">
            <div class="col-12 col-md-4">
                <h5 class="font-weight-bold">Sobre Nosotros</h5>
                <p class="text-muted small">
                    Somos una concesionaria de alimentos con mas de 17 años en el mercado, empleando tecnología, equipos y cuidados nutricionales e higiénicos sanitarios.
                </p>
            </div>
            <div class="col-12 col-md-4">
                <h5 class="font-weight-bold">Contactanos</h5>
                <ul class="list-unstyled">
                    <li class="small mb-2">
                        <i class="fa fa-map-marker fa-lg d-inline mr-3" aria-hidden="true"></i>
                        <p class="text-muted d-inline">Direccion</p>
                    </li>
                    <li class="small mb-2">
                        <i class="fa fa-phone fa-lg d-inline mr-2" aria-hidden="true"></i>
                        <p class="text-muted d-inline">Telefono</p>
                    </li>
                    <li class="small mb-2">
                        <i class="fa fa-envelope fa-lg d-inline mr-1" aria-hidden="true"></i>
                        <p class="text-muted d-inline">Correo</p>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <h5 class="font-weight-bold">Redes sociales</h5>
                <div class="row justify-content-between">
                    <div class="col-3">
                        <i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="col-3">
                        <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="col-3">
                        <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="col-3">
                        <i class="fa fa-youtube fa-3x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="jquery-3.1.1.slim.min.js"></script>
    <script src="tether.min.js"></script>
    <script src="bootstrap.min.js"></script>
</body>
</html>