<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Header</title>
    <link href="bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar fixed-top navbar-light bg-faded">
        <a class="navbar-brand d-inline-flex" href="#">
            <img src="http://placehold.it/90x90" width="30" height="30" class="d-inline-block align-top" alt="Company's logo">
        Company's name
        </a>
        <div class="navbar-nav">
            <a href="#" class="btn btn-primary nav-item pull-right" role="button">Log In</a>
        </div>
</nav>
<script src="jquery-3.1.1.min.js"></script>
<script src="tether.min.js"></script>
<script src="bootstrap.min.js"></script>
</body>
</html>